.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background-color);
  color: var(--text-color);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

.header-left {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-title {
  font-size: 1.25em;
  margin: 0;
}

.header-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header-content a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--text-color);
}

.header-content a:hover {
  color: var(--accent-color);
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  margin: 0 10px;
  color: var(--text-color);
  text-decoration: none;
}

.header-right a:hover {
  color: var(--accent-color);
}

.social-links a {
  color: var(--text-color);
}

.social-links a:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .header-content a {
    margin: 0 10px;
  }
  .header-title {
    font-size: 1em;
  }
  .profile-picture {
    width: 30px;
    height: 30px;
  }
}

.content {
  padding-top: 65px;
}