.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.intro-content {
  display: flex;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-pic {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.intro-text {
  text-align: left;
  max-width: 600px;
}

.intro-title {
  font-size: 4em;
  margin-bottom: 10px;
  position: relative;
}

.cut-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: reveal 3s cubic-bezier(0.75, 0, 0.25, 1);
  animation-fill-mode: forwards;
}

@keyframes reveal {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.intro-tagline {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.intro-blurb {
  font-size: 1.2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .intro-title {
    font-size: 2.5em;
  }
  
  .intro-tagline {
    font-size: 1.2em;
  }
  
  .intro-blurb {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .profile-pic {
    width: 150px;
    height: 150px;
  }
  
  .intro-title {
    font-size: 2em;
  }
  
  .intro-tagline {
    font-size: 1em;
  }
  
  .intro-blurb {
    font-size: 0.8em;
  }
}
